/* === GENERAL === */

    body {

        /* Supression du margin/padding automatique du body */
        margin:0%;
        padding:0%;

        /* Font du body */
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;

    }

/* === FIN GENERAL === */

/* === HEADER === */

    /* Bannière */
    body header img#banniere {
        width:100%;
    }

    /* Mise en forme de la liste */
    body ul#menu {

        /* Couleurs, disposition */
        /* La liste ne doit pas avoir de margin/padding */
        margin:0%;
        padding:0%;

        /* On place les éléments en ligne */
        display:flex;

        /* Couleur de fond */
        background:linear-gradient(162deg, rgb(228, 228, 222), rgb(225, 187, 148));

        /* Texte */
        /* Pas de puces devant les éléments */
        list-style-type: none;

        /* Taille du texte */
        font-size:3vw;

        /* Mise en gras du texte */
        font-weight:bold;

        /* Couleur du texte */
        color:black;
    }

    /* Mise en forme des éléments de la liste */
    body ul#menu li {

        /* On répartit les deux onglets en taille équitable puis on centre les éléments */
        width:50%;
        text-align:center;

        /* Ajout des paramètres des bordures */
        border-color:black;
        border-width:3%;
    }

    /* Bordures de l'onglet PROFIL */
    body ul#menu li#li_profil {
        
        /* L'onglet PROFIL prend toutes les bordures */
        border-style:solid;
    }

    /* Bordures de l'onglet projets */
    body ul#menu li#li_projects {

        /* L'onglet projets ne prend pas de bordure gauche (on utilise celle de PROFIL) */
        border-top-style:solid;
        border-top-style:solid;
        border-bottom-style:solid;
    }

    /* Changements lorsque l'on survole un l'onglet PROFIL */
    body ul#menu li#li_profil:hover {

        /* Changement des couleurs */
        border-color:rgb(158, 98, 57);
        color:rgb(158, 98, 57);
        
    }

    /* Changements lorsque l'on survole un l'onglet projets */
    body ul#menu li#li_projects:hover {

        /* Changement des couleurs */
        border-color:rgb(158, 98, 57);
        color:rgb(158, 98, 57);
        border-left-style:solid;
        
    }

/* === FIN HEADER === */



/* === PAGE DE PROFIL === */

    /* Paramètres de la page de PROFIL */
    body div#profil div#informationsProfil {
        background-color:red;

        /* Mise en forme */
        width:80%;
        border-radius:16px;

        /* Disposition */
        margin-left:10%;
        margin-top:3%;
        margin-bottom:3%;

        /* Apparence */
        border:solid black;
    }

    /* Photo de PROFIL */
    body div#profil div#informationsProfil img {

        /* Disposition de l'image */
        width:20%;
        margin:3%;

        /* Bordures */
        border-radius:16px;
        border:solid black;
    }





/* === FIN PAGE DE PROFIL === */



/* === PAGE DE PROJETS === */

    /* Paramètres de la page de projets */
    body div#projects {
        display:none;
        flex-direction:column;
        width:100%;
        flex-wrap:wrap;
    }

    /* Mise en forme des parties de la page de projet */
    body div#projects h1.partieFini, body div#projects h1.partieEnCours, body div#projects h1.partieFutur {
        margin:0%;
        padding-top:1%;
        padding-bottom:1%;
        text-align:center;
        margin-top:solid black;
        background-color:rgb(235, 202, 154);
        font-size:2vw;
        border-bottom:solid black;
    }

    /* Toutes les parties sauf la première ont une bordure top et un margin-top */
    body div#projects h1.partieEnCours, body div#projects h1.partieFutur {
        margin-top:2%;
        border-top: solid black;
    }

    /* Toutes les parties ont un margin-bottom */
    body div#projects h1.partieFini, body div#projects h1.partieEnCours, body div#projects h1.partieFutur {
        margin-bottom:2%;
    }

    /* === PROJETS GÉNÉRAL === */

        /* Couleur de fond de la page projets */
        body div#projects {
            background:linear-gradient(162deg, rgb(228, 228, 222), rgb(225, 187, 148));
            padding-bottom:2%; /* Espace entre la partie est le footer */
        }

        /* Espace des projets terminés */
        body div#projects div#done_projects, body div#projects div#ongoing_projects, body div#projects div#futur_projects {
            display:flex;
            width:100%;
            flex-wrap:wrap;
        }

        /* Lien vers la page github */
        body div#projects div#done_projects a, body div#projects div#ongoing_projects a, body div#projects div#futur_projects a {

            /* Place */
            margin-left:10%;
            width:35%;

            /* Mise en forme */
            margin-left:10%;
            margin-top:1%;
            margin-bottom:1%;

            /* On ne veut pas que le texte soit souligné */
            text-decoration:none;
        }

        /* Comment s'afficherons les sommaires des projets */
        body div#projects div#done_projects div.sommaire, body div#projects div#ongoing_projects div.sommaire, body div#projects div#futur_projects div.sommaire {

            /* Un sommaire prend 100% de la balise <a> */
            width:100%;

            /* L'intérieur du sommaire est divisé en deux parties : une image (à gauche) qui prend 30% de la largeur, et une zone de description du projet */
            display:flex;

            /* Mise en forme/couleur du sommaire */
            color:black;
            background-color:rgba(0, 0, 0, 0.22);

            /* Bordures */
            border:solid rgb(0, 0, 0);
            border-radius:16px;
        }

        /* Hover des projets */
        body div#projects div#done_projects div.sommaire:hover, body div#projects div#ongoing_projects div.sommaire:hover, body div#projects div#futur_projects div.sommaire:hover {
            
            /* Changement des couleurs */
            border-color:rgb(247, 225, 28);
        }

        /* Images dans les sommaires */
        body div#projects div#done_projects img, body div#projects div#ongoing_projects img, body div#projects div#futur_projects img {
            width:30%;
            border-top-left-radius:16px;
            border-bottom-left-radius:16px;
        }

        /* On décale légèrement la zone de texte */
        body div#projects div#done_projects div.sommaire div.zone_texte_sommaire, body div#projects div#ongoing_projects div.sommaire div.zone_texte_sommaire, body div#projects div#futur_projects div.sommaire div.zone_texte_sommaire {
            width:70%;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
        }

        /* Titre dans le sommaire */
        body div#projects div#done_projects div.sommaire div.zone_texte_sommaire h1, body div#projects div#ongoing_projects div.sommaire div.zone_texte_sommaire h1, body div#projects div#futur_projects div.sommaire div.zone_texte_sommaire h1 {

            /* On centre le titre */
            text-align:center;

            /* Pas de margin */
            margin-top:0%;
            margin-bottom:0%;
            border-bottom:solid black;
            font-size:2vw;
        }

        /* Description dans le sommaire */
        body div#projects div#done_projects div.sommaire div.zone_texte_sommaire p, body div#projects div#ongoing_projects div.sommaire div.zone_texte_sommaire p, body div#projects div#futur_projects div.sommaire div.zone_texte_sommaire p {
            font-size:1.4vw;
            margin-top:0%;
            margin-bottom:0%;
            padding-left:2%;
        }

        /* Liste en bas du sommaire */
        body div#projects div#done_projects div.sommaire div.zone_texte_sommaire ul, body div#projects div#ongoing_projects div.sommaire div.zone_texte_sommaire ul, body div#projects div#futur_projects div.sommaire div.zone_texte_sommaire ul {

            /* Pas de puces devant les éléments */
            list-style-type: none;
            font-size:1.4vw;
            padding:0%;
            padding-left:2%;
            margin:0%;
            border-top:solid black;
        
        }

    /* === FIN PROJETS GÉNÉRAL === */

/* === FIN PAGE DE PROJETS === */

/* === FOOTER === */

    body footer {

        /* Apparence */
        background-color:black;
        color:white;
        text-align:center;
        text-decoration:none;
        font-size:1.5vw;

        /* Mise en forme */
        display:flex;
        justify-content:space-around;       
    }

    /* On ne veut pas que la balise a modifie la couleur du texte */
    body footer a {

        /* On force la couleur blanche */
        color:white;
    }

/* === FIN FOOTER === */